root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Kotlin specific settings
[*.{kt,kts}]
# Use the Kotlin Official style guide
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
# Common KMP formatting
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
# Prevents wildcard imports which are often discouraged in KMP
ij_kotlin_name_count_to_use_star_import = 99
ij_kotlin_name_count_to_use_star_import_for_members = 99